<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__nav" fxFlex="" fxLayout="row" fxLayoutAlign="center">
      <a href="/pozyczki_w_bielsko_biala" class="footer__nav-item" fxFlex.xs="50">
        Szybkie online pożyczki w Bielsko Biała
      </a>
      <a href="/pozyczki_w_bydgoszcz" class="footer__nav-item" fxFlex.xs="50">
        Szybkie online pożyczki w Bydgoszcz
      </a>
      <a href="/pozyczki_w_bytom" class="footer__nav-item" fxFlex.xs="50">
        Szybkie online pożyczki w Bytom
      </a>
      <a href="/pozyczki_w_gliwice" class="footer__nav-item" fxFlex.xs="50">
        Szybkie online pożyczki w Gliwice
      </a>
      <a href="/pozyczki_w_bielsko_katowice" class="footer__nav-item" fxFlex.xs="50">
        Szybkie online pożyczki w Katowice
      </a>
    </div>
    <h3 class="footer__title">Skontaktuj się z nami:</h3>
  </div>
  <div class="footer__contacts" fxLayout="row" fxLayoutAlign="center space-between" fxLayoutWrap>

    <div class="footer__contacts-item">
      <a href="mailto:info@ekassa.pl">
        <div class="footer__contacts-icon">
          <i class="fa fa-envelope main-green fa-2x"></i>
        </div>
        <span class="footer__contacts-text">info@ekassa.pl</span>
      </a>
    </div>
    <div class="footer__contacts-item">
      <a target="_blank" rel="nofollow" href="http://facebook.com/ekassacom">
        <div class="footer__contacts-icon">
          <i class="fab fa-facebook-f fa-2x facebook"></i>
        </div>
        <span class="footer__contacts-text">Facebook</span>
      </a>
    </div>
    <div class="footer__contacts-item">
      <a target="_blank" rel="nofollow" href="https://racoongo.com/chwilowki/ekassa">
        <div class="footer__contacts-icon">
          <img src="../../../assets/img/racoon_logo.png" alt="" class="footer__contacts-img footer__contacts-racoongo">
        </div>
        <span class="footer__contacts-text">Racoongo.com</span>
      </a>
    </div>
    <div class="footer__contacts-item">
      <a target="_blank" rel="nofollow" href="https://loando.pl/pozyczki-na-raty/ekassa">
        <div class="footer__contacts-icon">
          <img src="https://loando.pl/widget/transparent/ekassa.png" alt="Ekassa opinie" class="footer__contacts-img">
        </div>
        <span class="footer__contacts-text">Loando</span>
      </a>
    </div>
    <div class="footer__contacts-item">
      <a target="_blank" rel="nofollow" href="https://pozyczkaportal.pl/pozyczki/ekassa">
        <div class="footer__contacts-icon">
          <img src="https://pozyczkaportal.pl/widget/img/ekassa.png" alt="ekassa - ocena użytkowników portalu pozyczkaportal.pl" class="footer__contacts-img">
        </div>
        <span class="footer__contacts-text">Pozyczkaportal</span>
      </a>
    </div>
    <div class="footer__contacts-item">
      <a target="_blank" rel="nofollow" href="https://chwilowo.pl/opinie/ekassa">
        <div class="footer__contacts-icon">
          <img src="../../../assets/img/chwilowo-pl.png" alt="" class="footer__contacts-img">
        </div>
        <span class="footer__contacts-text">Chwilowo.pl</span>
      </a>
    </div>
    <div class="footer__timetable">
      Biro Obsługi Klienta: <span class="footer__timetable-phone">+48 22 873 85 86</span> <br>
      Przelewy są realizowane: <b>pon.-piąt.: 8:00 - 19:00, sob.: 10:00 - 15:00</b>
    </div>
  </div>
</footer>
